@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

div {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
    width: 280px;
    height: 450px;
    margin: 100px auto 0;
}

img {
    max-width: 260px;
    padding: 10px;
    border-radius: 20px;
}

h1 {
    font-size: 20px;
    text-align: center;
    padding: 0 20px;
}

p {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    color: hsl(220, 15%, 55%);
}